@model GiftModel
@using Nop.Plugin.Misc.GiftProvider.Domain;
@using Nop.Services

<script>
    $(document).ready(function() {
        $("#@Html.IdFor(model => model.GiftTypeId)").change(toggleGiftType);
        //$("#@Html.IdFor(model => model.UsePercentage)").click(toggleUsePercentage);
        $("#@Html.IdFor(model => model.RequiresCouponCode)").click(toggleRequiresCouponCode);
        $("#@Html.IdFor(model => model.GiftLimitationId)").change(toggleLimitation);

        toggleGiftType();
        toggleLimitation();
        //toggleUsePercentage();
        toggleRequiresCouponCode();
    });

    function toggleGiftType() {
        var selectedGiftTypeId = $("#@Html.IdFor(model => model.GiftTypeId)").val();
        if (selectedGiftTypeId == @(((int) GiftType.AssignedToCategories).ToString())) {
            $('[data-card-name=gift-applied-to-categories]').showElement();
            $('[data-card-name=gift-applied-to-manufacturers]').hideElement();
            $('[data-card-name=gift-applied-to-products]').hideElement();
            $('#pnlMaximumGiftedQuantity').showElement();
            $('#pnlAppliedToSubCategories').showElement();
    } else if (selectedGiftTypeId == @(((int) GiftType.AssignedToManufacturers).ToString())) {
            $('[data-card-name=gift-applied-to-categories]').hideElement();
            $('[data-card-name=gift-applied-to-manufacturers]').showElement();
            $('[data-card-name=gift-applied-to-products]').hideElement();
            $('#pnlMaximumGiftedQuantity').showElement();
            $('#pnlAppliedToSubCategories').hideElement();
    } else if (selectedGiftTypeId == @(((int) GiftType.AssignedToSkus).ToString())) {
            $('[data-card-name=gift-applied-to-categories]').hideElement();
            $('[data-card-name=gift-applied-to-manufacturers]').hideElement();
            $('[data-card-name=gift-applied-to-products]').showElement();
            $('#pnlMaximumGiftedQuantity').showElement();
            $('#pnlAppliedToSubCategories').hideElement();
    } else {
            $('[data-card-name=gift-applied-to-categories]').hideElement();
            $('[data-card-name=gift-applied-to-manufacturers]').hideElement();
            $('[data-card-name=gift-applied-to-products]').hideElement();
            $('#pnlMaximumGiftedQuantity').hideElement();
            $('#pnlAppliedToSubCategories').hideElement();
    }
    }

    function toggleLimitation() {
        var selectedGiftLimitationId = $("#@Html.IdFor(model => model.GiftLimitationId)").val();
        if (selectedGiftLimitationId == @(((int) GiftLimitationType.NTimesOnly).ToString()) || selectedGiftLimitationId == @(((int) GiftLimitationType.NTimesPerCustomer).ToString())) {
            //'N Times Only' or 'N Times Per Customer'
            $('#pnlLimitationTimes').showElement();
    } else {
            $('#pnlLimitationTimes').hideElement();
    }
    }

    //function toggleUsePercentage() {
    //    if ($('#@Html.IdFor(model => model.UsePercentage)').is(':checked')) {
    //        $('#pnlGiftPercentage').showElement();
    //        $('#pnlGiftAmount').hideElement();
    //        $('#pnlMaximumGiftAmount').showElement();
    //    } else {
    //        $('#pnlGiftPercentage').hideElement();
    //        $('#pnlGiftAmount').showElement();
    //        $('#pnlMaximumGiftAmount').hideElement();
    //    }
    //}

    function toggleRequiresCouponCode() {
        if ($('#@Html.IdFor(model => model.RequiresCouponCode)').is(':checked')) {
            $('#pnlCouponCode').showElement();
            @if (!string.IsNullOrEmpty(Model.GiftUrl))
            {
                <text>$('#pnlGiftUrl').showElement();</text>
            }
            else
            {
                <text>$('#pnlGiftUrl').hideElement();</text>
            }
        } else {
            $('#pnlCouponCode').hideElement();
            $('#pnlGiftUrl').hideElement();
        }
    }
</script>

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="Name" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Name" asp-required="true" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="GiftTypeId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="GiftTypeId" asp-items="@await ((GiftType) Model.GiftTypeId).ToSelectListAsync()" />
            <span asp-validation-for="GiftTypeId"></span>
        </div>
    </div>
    <div class="form-group row" id="pnlAppliedToSubCategories">
        <div class="col-md-3">
            <nop-label asp-for="AppliedToSubCategories" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="AppliedToSubCategories" />
            <span asp-validation-for="AppliedToSubCategories"></span>
        </div>
    </div>
@*    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="UsePercentage" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="UsePercentage" />
            <span asp-validation-for="UsePercentage"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="UsePercentage" disable-auto-generation="true">
        <div class="form-group row" id="pnlGiftPercentage">
            <div class="col-md-3">
                <nop-label asp-for="GiftPercentage" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="GiftPercentage" />
                <span asp-validation-for="GiftPercentage"></span>
            </div>
        </div>
        <div class="form-group advanced-setting row" id="pnlMaximumGiftAmount">
            <div class="col-md-3">
                <nop-label asp-for="MaximumGiftAmount" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="MaximumGiftAmount" asp-postfix="@Model.PrimaryStoreCurrencyCode" />
                <span asp-validation-for="MaximumGiftAmount"></span>
            </div>
        </div>
    </nop-nested-setting>*@
@*    <div class="form-group row" id="pnlGiftAmount">
        <div class="col-md-3">
            <nop-label asp-for="GiftAmount" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="GiftAmount" asp-postfix="@Model.PrimaryStoreCurrencyCode" />
            <span asp-validation-for="GiftAmount"></span>
        </div>
    </div>
*@    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="RequiresCouponCode" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="RequiresCouponCode" />
            <span asp-validation-for="RequiresCouponCode"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="RequiresCouponCode" disable-auto-generation="true">
        <div class="form-group row" id="pnlCouponCode">
            <div class="col-md-3">
                <nop-label asp-for="CouponCode" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="CouponCode" />
                <span asp-validation-for="CouponCode"></span>
            </div>
        </div>
    </nop-nested-setting>
    <nop-nested-setting asp-for="RequiresCouponCode" disable-auto-generation="true">
        <div class="form-group row" id="pnlGiftUrl">
            <div class="col-md-3">
                <nop-label asp-for="GiftUrl" />
            </div>
            <div class="col-md-9">
                <div class="form-text-row">@Model.GiftUrl</div>
            </div>
        </div>
    </nop-nested-setting>
    <div class="form-group advanced-setting row">
        <div class="col-md-3">
            <nop-label asp-for="StartDateUtc" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="StartDateUtc" />
            <span asp-validation-for="StartDateUtc"></span>
        </div>
    </div>
    <div class="form-group advanced-setting row">
        <div class="col-md-3">
            <nop-label asp-for="EndDateUtc" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EndDateUtc" />
            <span asp-validation-for="EndDateUtc"></span>
        </div>
    </div>
    <div class="form-group advanced-setting row">
        <div class="col-md-3">
            <nop-label asp-for="IsCumulative" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="IsCumulative" />
            <span asp-validation-for="IsCumulative"></span>
        </div>
    </div>
    <div class="form-group advanced-setting row">
        <div class="col-md-3">
            <nop-label asp-for="GiftLimitationId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="GiftLimitationId" asp-items="@await (((GiftLimitationType)Model.GiftLimitationId).ToSelectListAsync())" />
            <span asp-validation-for="GiftLimitationId"></span>
        </div>
    </div>
    <div class="form-group row" id="pnlLimitationTimes">
        <div class="col-md-3">
            <nop-label asp-for="LimitationTimes" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="LimitationTimes" />
            <span asp-validation-for="LimitationTimes"></span> @T("Admin.Promotions.Gifts.Fields.LimitationTimes.Times")
        </div>
    </div>
    <div class="form-group row" id="pnlMaximumGiftedQuantity">
        <div class="col-md-3">
            <nop-label asp-for="MaximumGiftedQuantity" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="MaximumGiftedQuantity" />
            <span asp-validation-for="MaximumGiftedQuantity"></span>
        </div>
    </div>
    <div class="form-group advanced-setting row">
        <div class="col-md-3">
            <nop-label asp-for="AdminComment" />
        </div>
        <div class="col-md-9">
            <nop-textarea asp-for="AdminComment" />
            <span asp-validation-for="AdminComment"></span>
        </div>
    </div>
</div>
